{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row pt-3">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('table', year=year) }}">UK General Election Results {{ year }}</a></li>
          <li class="breadcrumb-item active">{{ item.first_name }} {{ item.surname }}</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div style="float: right">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" data-toggle="modal" data-target="#editModal"><span class="oi oi-pencil" title="icon name" aria-hidden="true"></span> Edit Row</button>
        <button class="btn btn-outline-danger" type="button" id="button-addon2" data-toggle="modal" data-target="#deleteModal"><span class="oi oi-x" title="icon name" aria-hidden="true"></span>
 Delete Row</button>
      </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-12">
        <table class="table">
          <tbody>
            <tr>
              <th>Constituency</th><td>{{ item.constituency }}</td>
            </tr>
            <tr>
              <th>Surname</th><td>{{ item.surname }}</td>
            </tr>
            <tr>
              <th>First name</th><td>{{ item.first_name }}</td>
            </tr>
            <tr>
              <th>Party</th><td>{{ item.party }}</td>
            </tr>
            <tr>
              <th>Votes</th><td>{{ "{:,}".format(item.votes) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <form action="{{ url_for('delete-row', year=year, pk=pk) }}" method="POST">
          <button type="submit" class="btn btn-outline-danger"><span class="oi oi-x" title="icon name" aria-hidden="true"></span> Confirm Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ request.url }}" method="POST">
      <div class="modal-body">
        <div class="form-group row">
          <label for="constituencyInput" class="col-sm-3 col-form-label">Constituency</label>
          <div class="col-sm-9">
            <input type="text" name="constituency" class="form-control {% if error.constituency %}is-invalid{% endif %}" value="{{ data.constituency }}">
             {% if error.constituency %}<div class="invalid-feedback">{{ error.constituency }}</div>{% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label for="surnameInput" class="col-sm-3 col-form-label">Surname</label>
          <div class="col-sm-9">
            <input type="text" name="surname" class="form-control {% if error.surname %}is-invalid{% endif %}" value="{{ data.surname }}">
            {% if error.surname %}<div class="invalid-feedback">{{ error.surname }}</div>{% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label for="firstNameInput" class="col-sm-3 col-form-label">First name</label>
          <div class="col-sm-9">
            <input type="text" name="first_name" class="form-control {% if error.first_name %}is-invalid{% endif %}" value="{{ data.first_name }}">
            {% if error.first_name %}<div class="invalid-feedback">{{ error.first_name}}</div>{% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label for="partyInput" class="col-sm-3 col-form-label">Party</label>
          <div class="col-sm-9">
            <input type="text" name="party" class="form-control {% if error.party %}is-invalid{% endif %}" value="{{ data.party }}">
            {% if error.party %}<div class="invalid-feedback">{{ error.party}}</div>{% endif %}
          </div>
        </div>
        <div class="form-group row">
          <label for="votesInput" class="col-sm-3 col-form-label">Votes</label>
          <div class="col-sm-9">
            <input type="number" name="votes" class="form-control {% if error.votes %}is-invalid{% endif %}" value="{{ data.votes }}">
            {% if error.votes %}<div class="invalid-feedback">{{ error.votes}}</div>{% endif %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary"><span class="oi oi-check" title="icon name" aria-hidden="true"></span> Save Changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block tail %}
{% if error %}
<script type="text/javascript">
  $('#editModal').removeClass('fade')
  $('#editModal').modal('show');
  $('#editModal').addClass('fade')
</script>
{% endif %}
{% endblock %}
