{% extends "base.html" %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row pt-3">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
          <li class="breadcrumb-item active">UK General Election Results {{ year }}</li>
        </ol>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-6">
          <form class="form-inline" target=".">
          <div class="input-group mb-3" style="width: 100%">
            <input name="search" {% if search_term %}value="{{ search_term }}"{% endif %} type="search" class="form-control" aria-label="Search" aria-describedby="button-search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
            </div>
          </div>
          </form>
      </div>
      <div class="col-md-6">
        <div style="float: right">
        <button class="btn btn-outline-primary" type="button" id="buttonNewRow" data-toggle="modal" data-target="#newRowModal"><span class="oi oi-plus" title="icon name" aria-hidden="true"></span> New Row</button>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              {% for control in column_controls %}
              <th scope="col" {% if control.is_reverse_sorted %}class="dropup"{% endif %}>
                {% if control.url %}
                  <a {% if control.is_sorted %}class="dropdown-toggle"{% endif %} href="{{ control.url }}">
                {% endif %}
                {{ control.text }}
                {% if control.url %}
                  </a>
                {% endif %}
              </th>
              {% endfor %}
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in queryset %}
            <tr>
              <td>{{ item.constituency }}</td>
              <td>{{ item.surname }}</td>
              <td>{{ item.first_name }}</td>
              <td>{{ item.party }}</td>
              <td>{{ "{:,}".format(item.votes) }}</td>
              <td><a href="{{ url_for('detail', year=year, pk=item.pk) }}" class="oi oi-chevron-right" title="icon name" aria-hidden="true"></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      {% if page_controls %}
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            {% for control in page_controls %}
            <li class="page-item {% if control.is_disabled %}disabled{% endif %} {% if control.is_active %}active{% endif %}"><a class="page-link" {% if control.url %}href="{{ control.url }}"{% endif %}>{{ control.text }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      {% endif %}
    </div>
  </div>
</main>

<div class="modal fade" id="newRowModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Row</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ request.url }}" method="POST">
        <div class="modal-body">
            <div class="form-group row">
              <label for="constituencyInput" class="col-sm-3 col-form-label">Constituency</label>
              <div class="col-sm-9">
                <input type="text" name="constituency" class="form-control {% if form_errors.constituency %}is-invalid{% endif %}" value="{{ form_values.constituency }}">
                 {% if form_errors.constituency %}<div class="invalid-feedback">{{ form_errors.constituency }}</div>{% endif %}
              </div>
            </div>
            <div class="form-group row">
              <label for="surnameInput" class="col-sm-3 col-form-label">Surname</label>
              <div class="col-sm-9">
                <input type="text" name="surname" class="form-control {% if form_errors.surname %}is-invalid{% endif %}" value="{{ form_values.surname }}">
                {% if form_errors.surname %}<div class="invalid-feedback">{{ form_errors.surname }}</div>{% endif %}
              </div>
            </div>
            <div class="form-group row">
              <label for="firstNameInput" class="col-sm-3 col-form-label">First name</label>
              <div class="col-sm-9">
                <input type="text" name="first_name" class="form-control {% if form_errors.first_name %}is-invalid{% endif %}" value="{{ form_values.first_name }}">
                {% if form_errors.first_name %}<div class="invalid-feedback">{{ form_errors.first_name}}</div>{% endif %}
              </div>
            </div>
            <div class="form-group row">
              <label for="partyInput" class="col-sm-3 col-form-label">Party</label>
              <div class="col-sm-9">
                <input type="text" name="party" class="form-control {% if form_errors.party %}is-invalid{% endif %}" value="{{ form_values.party }}">
                {% if form_errors.party %}<div class="invalid-feedback">{{ form_errors.party}}</div>{% endif %}
              </div>
            </div>
            <div class="form-group row">
              <label for="votesInput" class="col-sm-3 col-form-label">Votes</label>
              <div class="col-sm-9">
                <input type="number" name="votes" class="form-control {% if form_errors.votes %}is-invalid{% endif %}" value="{{ form_values.votes }}">
                {% if form_errors.votes %}<div class="invalid-feedback">{{ form_errors.votes}}</div>{% endif %}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary"><span class="oi oi-check" title="icon name" aria-hidden="true"></span> Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block tail %}
{% if form_errors %}
<script type="text/javascript">
  $('#newRowModal').removeClass('fade')
  $('#newRowModal').modal('show');
  $('#newRowModal').addClass('fade')
</script>
{% endif %}
{% endblock %}
